{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best decarbonizing service in srinagar, kashmir.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css_links.html' %}
    {% block child_css %} {% endblock %}
</head>
<body>
    {% include 'maintenance.html' %}
    {% include 'base/js_scripts.html' %}

    {% block child_js %} {% endblock %}
</body>
</html>