{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The detoxlab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css_links.html' %}
    {% block child_css %} {% endblock %}
</head>
<body>
    <!-- COVER SECTION -->
    <div class="container-fluid p-0 css_cover">
        {% include 'base/components/navbar.html' %}
        {% include 'base/components/tagline.html' %}
    </div>

    {% block child_body %} {% endblock %}

    {% include 'base/js_scripts.html' %}

    {% block child_js %} {% endblock %}
</body>
</html>