{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Console Verification -->
    <meta name="google-site-verification" content="fsQUP67C9xHDWGJBi5i9pVqiWIt1Jlq8GjzgN-6p4Tk" />
    <title>Car Decarbonization Service in Srinagar, Kashmir | Engine Carbon Cleaning Center | The Detox Lab.</title>
    {% include 'base/css_links.html' %}
    {% block child_css %} {% endblock %}
</head>
<body>
    {% include 'maintenance.html' %}
    {% include 'base/js_scripts.html' %}

    {% block child_js %} {% endblock %}
</body>
</html>