{% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>

<!-- Base CSS -->
<link rel="stylesheet" href="{% static 'css/base/base.css' %}">

<!-- Navbar CSS -->
<link rel="stylesheet" href="{% static 'css/base/components/navbar.css' %}">

<!-- Tagline CSS -->
<link rel="stylesheet" href="{% static 'css/base/components/tagline.css' %}">

<!-- Cover Footer CSS -->
<link rel="stylesheet" href="{% static 'css/base/components/cover_footer.css' %}">

<!-- How It Works CSS -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">