/*
.working {
    margin-top: 50px;
    min-width: 80%;
}

.working .card {
    box-shadow: 0px 0px 5px gray;
}

.working .card-title {
    color: #03C03C;
}

*/
/*.home_img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 5px rgb(100, 100, 100));
    margin-right: 200px;
}

.working-title {
    color: #03C03C;
}

.working-sep {
    padding: 1px;
	background-color: #03C03C;
}

.working-bold {
    color: #03C03C;
    font-weight: bold;
    font-size: 22px;
}

.working-text {
    font-size: 18px;
}*//*


.benefits {
    margin-top: 100px;
    min-width: 80%;
}

.benefits .card-body {
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    border: none;
}

.benefits-title {
    color: #03C03C;
    text-align: center;
}

.benefits-sep {
    margin-top: 10px;
	padding: 1px;
	background-color: #03C03C;
	width: 150px;
}

.card-image {
    width: 100%;
    height: 400px;
}*/

.working {
    background-color: rgb(248, 248, 248);
	border: none;
	box-shadow: none;
	padding: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.working-img {
    margin-left: 5%;
}

.working-img img {
    border: 5px solid #53C168;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

.working-body {
    padding: 20px;
}

.working-body .text {
    font-size: 20px;
}

.working-body .separator, .benefits-title .separator {
    background-color: #53C168;
    width: 100px;
    height: 2px;
}

.working-body h2 {
    color: #53C168;
    font-weight: bold;
    text-align: center;
}

.working .working-img div {
	background-image: url("/static/media/images/others/working_compressed.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 90%;
	height: 100%;
	filter: drop-shadow(0px 0px 5px rgb(100, 100, 100));
}

.working-small-screen {
	display: none;
}
.working-small-screen img {
	min-width: 100% !important;
	height: auto !important;
	padding: 50px;
	padding-bottom: 5px;
	filter: drop-shadow(0px 0px 5px rgb(60, 60, 60));
}

.benefits {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px:
}

.benefits-title {
    color: #53C168;
    margin-bottom: 50px;
}

.benefits-title h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.benefits-sub-title {
    margin-top: -40px;
    margin-bottom: 20px;
}

/*.benefits-sub-title p {
    font-size: 18px;
    text-align: center;
    background-color: #53C168;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}*/

.benefits .card {
    padding: 20px;
    box-shadow: 0px 0px 5px silver;
    height: 300px;
}

.benefits img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.benefits .card-title {
    font-size: 22px;
    font-weight: bold;
    margin-left: -5px;
    margin-right: -5px;
}

.benefits .card-body {
    background-color: #53C168;
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    color: white;
    box-shadow: 0px -2px 0px silver;
}

@media only screen and (max-width: 760px){
    .working-small-screen {
        display: block;
        margin-top: -20px !important;
    }

    .working-small-screen img {
        padding: 10px!important;
    }

    .working-body .separator {
        margin-top: 5px!important;
    }

    .working-body {
        margin-top: 20px;
        padding: 0px!important;
    }

    .working-body h2 {
        font-size: 20px;
    }

    .working-body .text {
        font-size: 15px;
    }

    .benefits .carousel-item .card-title {
        font-size: 18px;
    }

    .benefits .carousel-item .card-text {
        font-size: 14px;
    }
}