
.working {
    background-color: rgb(248, 248, 248);
	border: none;
	box-shadow: none;
	padding: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.working-img {
    margin-left: 5%;
}

.working-img img {
    border: 5px solid #53C168;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

.working-body {
    padding: 20px;
}

.working-body .text {
    font-size: 20px;
}

.working-body .separator, .benefits-title .separator, .reviews .separator, .about-us .separator {
    background-color: #53C168;
    width: 100px;
    height: 2px;
}

.working-body h2 {
    color: #53C168;
    font-weight: bold;
    text-align: center;
}

.working .working-img div {
	background-image: url("/static/media/images/others/working_compressed.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 90%;
	height: 100%;
	filter: drop-shadow(0px 0px 5px rgb(100, 100, 100));
}

.working-small-screen {
	display: none;
}
.working-small-screen img {
	min-width: 100% !important;
	height: auto !important;
	padding: 50px;
	padding-bottom: 5px;
	filter: drop-shadow(0px 0px 5px rgb(60, 60, 60));
}

.benefits {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px:
}

.benefits-title {
    color: #53C168;
    margin-bottom: 50px;
}

.benefits-title h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.benefits-sub-title {
    margin-top: -40px;
    margin-bottom: 20px;
}

/*.benefits-sub-title p {
    font-size: 18px;
    text-align: center;
    background-color: #53C168;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}*/

.benefits .card {
    padding: 20px;
    box-shadow: 0px 0px 5px silver;
    height: 300px;
}

.benefits img {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.benefits .card-title {
    font-size: 22px;
    font-weight: bold;
    margin-left: -5px;
    margin-right: -5px;
}

.benefits .card-body {
    background-color: #53C168;
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    color: white;
    box-shadow: 0px -2px 0px silver;
}

.benefits-sub-title {
    font-size: 30px;
    color: #53C168;
    font-weight: bold;
    text-align: center;
}

.benefits-sub-title .body {
    font-size: 25px;
}

.bonus-box {
    max-width: 70%;
    margin: 0 auto;
}

.benefits-sub-title .box {
    box-shadow: 0px 0px 5px gray;
    color: white;
    background-color: #53C168;
    padding: 10px;
    border-radius: 5px;
}

.reviews, .about-us {
    margin-top: 50px;
}

.reviews-title, .about-us-title {
    margin-bottom: 20px;
}

.reviews-title h2, .about-us-title h2 {
    color: #53C168;
    font-weight: bold;
}

.reviews .card-img {
    height: auto;
    width: 80%;
}

.reviews .card-body {
    height: 250px;
    font-size: 18px;
}

.reviews-btn {
    color: #53C168;
    border: 1px solid #53C168;
    padding: 10px;
}

.reviews-btn:hover {
    border: 2px solid #53C168;
    color: #53C168;
}

.about-us {
    background-color: rgb(248, 248, 248);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: -50px;
}

.about-us p {
    font-size: 22px;
    text-align: center;
}

.book-slot-btn {
    box-shadow: 0px 0px 5px gray;
    color: white;
    background-image: linear-gradient(#53C168, rgb(10, 150, 10));
    font-weight: bold;
    position: relative;
    height: 65px;
    border: 2px solid white;
    border-radius: 10px;
}

.book-slot-btn p {
    font-size: 30px;
    padding-left: 50px;
}

.ribbon {
    width: 75px;
    height: 60px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: transparent;
    border: none;
    overflow: hidden;
}
.ribbon span {
    width: 130px;
    padding: 5px 0px;
    background: white;
    display: block;
    position: absolute;
    top: 10px;
    left: -45px;
    transform: rotate(-45deg);
    text-align: center;
    color: #53C168;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
}
.ribbon:after {
    content: '';
    border: 5px solid transparent;
    position: absolute;
}
.ribbon:before {
    bottom: 0;
    right: 0;
}
.ribbon:after {
    top: 0;
    left: 0;
}

.book-slot-btn .badge {
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 12px;
}

@media only screen and (max-width: 760px){
    .working-small-screen {
        display: block;
        margin-top: -20px !important;
    }

    .working-small-screen img {
        padding: 10px!important;
    }

    .working-body .separator {
        margin-top: 5px!important;
    }

    .working-body {
        margin-top: 20px;
        padding: 0px!important;
    }

    .working-body h2, .reviews-title h2, .about-us h2 {
        font-size: 20px;
    }

    .working-body .text {
        font-size: 15px;
    }

    .benefits .carousel-item .card-title {
        font-size: 18px;
    }

    .benefits .carousel-item .card-text {
        font-size: 14px;
    }

    .about-us p {
        font-size: 18px;
    }

    .benefits-sub-title {
        font-size: 18px;
    }

    .benefits-sub-title .body {
        font-size: 15px;
    }
    .book-slot-btn {
        width: 80%;
    }
    .book-slot-btn p {
        font-size: 24px!important;
        padding-left: 28px;
    }
    .book-slot-btn .badge {
        top: 65%;
        left: 60%!important;
        font-size: 12px;
        box-shadow: 0px 0px 5px gray;
    }
}