
footer {
    background-color: rgb(80, 90, 100);
    border-top: 3px solid #03C03C;
    padding-top: 20px;
    color: white;
}

.footer-bottom {
    background-color: rgb(62, 72, 82);
    padding-top: 5px;
}

footer .title h5 {
    color: #03C03C !important;
}

.social-media {
    width: 30px;
    height: 30px;
}