
.navbar-brand {
    color: #03C03C !important;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #03C03C;
    box-shadow: 0px 0px 5px gray;
}

.navbar-brand img {
    width: 140px;
    height: auto;
}

.nav-item {
    margin-left: 20px;
}

.extra-info {
    background-color: rgb(245, 245, 245);
}

.normal-navbar {
    border-top: 3px solid #03C03C;
    border-bottom: 3px solid #03C03C;
    position: relative;
    z-index: 1;
}

.nav-item:hover {
    border-bottom: 1px solid rgb(32, 42, 52);
}

.nav-link {
    color: rgb(32, 42, 52);
    font-size: 18px;
    font-weight: bold;
}

.nav-bold {
    color: #57d257;
    font-weight: bold;
}

@media only screen and (max-width: 980px){
    .navbar-brand img {
        width: 90px;
        height: 70px;
    }
}

@media only screen and (max-width: 680px){
    .navbar-brand img {
        width: 60px;
        height: 45px;
    }
}