.tagline-body {
    position: relative;
    color: white;
}

.right-banner, .left-banner {
    position: absolute;
    text-align: left;
    border-radius: 5px;
    font-size: 25px;
}

.right-banner {
    left: 70%;
    top: 80px;
}

.left-banner {
    left: 5%;
    top: 100px;
}

.right-banner li, .left-banner li {
    color: white;
    font-weight: bold;
}
