.tagline {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    text-align: center;
    top: 20%;
    transform: translateY(-35%);
    color: white;
}

.tagline-title span {
    font-size: 25px;
    background-color: #03C03C;
    border-radius: 4px;
    width: 220px;
    position: relative;
    transform: skew(-12deg);
    padding: 8px 8px;
}

.right-banner, .left-banner {
    position: relative;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 2px solid silver;
    font-size: 25px;
}

.right-banner {
    left: 90%;
    top: 80px;
}

.left-banner {
    left: -60%;
    top: 0px;
}

.right-banner li, .left-banner li {
    color: white;
    font-weight: bold;
}
