
<!--<div class="container cover-footer">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 opening-hours">-->
<!--            <div> Opening Hours</div><hr class="cover-separator">-->
<!--            <div> Tue - Sun: 10AM to 7PM </div>-->
<!--            <hr class="small-separator">-->
<!--        </div>-->
<!--        <div class="col-md-6 helpline">-->
<!--            <div> Helpline</div><hr class="cover-separator">-->
<!--            <div> +91-9469465558 </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->