{% load static %}

<footer>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-4">
                <div class="title">
                    <h5> Address </h5>
                </div>
                <div class="body">
                    <p>
                        Mehtab Enclave, Bagi Mehtab, <br>
                        National Highway, <br>
                        Chanapora, Srinagar, J&K
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="title">
                    <h5> Get In Touch </h5>
                </div>
                <div class="body">
                    <p>
                        +7777927006
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="title">
                    <h5> We are social! </h5>
                </div>
                <div class="body">
                    <p>
                        <a href="https://www.instagram.com/thedetoxlab">
                            <img class="social-media" src="{% static 'media/images/logos/instagram.png' %}">
                        </a>
                        <a href="https://www.facebook.com/thedetoxlab">
                            <img class="social-media" src="{% static 'media/images/logos/facebook.png' %}">
                        </a>
                        <a href="https://www.linkedin.com/company/thedetoxlab">
                            <img class="social-media" src="{% static 'media/images/logos/linkedin.png' %}">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutters footer-bottom">
        <div class="row">
            <div class="col-6 no-gutters">
                <h6> Copyright 2021.</h6>
            </div>
            <div class="col-6 text-right">
                <h6> Photo credits: Freepik.</h6>
            </div>
        </div>
    </div>
</footer>