{% load static %}

<!-- NAVIGATION BAR -->
<!--<nav class="navbar d-flex flex-row navbar-expand-lg navbar-light common-navbar-settings extra-info">-->
<!--    <div class="container">-->
<!--        <ul class="navbar-nav mx-auto">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link"><span style="font-weight: bold;"> Opening Hours </span>: Tue - Sun 10AM - 7PM</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link"><span style="font-weight: bold;"> Helpline </span>: +9194695558</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
<div class="nav-title">
    <p class="larger-screen">
       <span style="font-weight: bold;"> Opening Hours: </span> <span> Tue - Sun 10AM - 7PM </span>
       <span style="padding-left: 10px; padding-right: 10px;"> | </span>
       <span style="font-weight: bold;"> Helpline: </span> <span> +7777927006 </span>
    </p>
    <p class="small-screen">
       <span style="font-weight: bold;"> Opening Hours: </span> <span> Tue - Sun 10AM - 7PM </span>
       <br>
       <span style="font-weight: bold;"> Helpline: </span> <span> +7777927006  </span>
    </p>
</div>
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light fixed-top common-navbar-settings normal-navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="{% static 'media/images/logos/branding_logo_updated_white.png' %}"/>
            </a>
        </div>
        <button class="navbar-toggler" style="float: right!important;" type="button" data-toggle="collapse"
                data-target="#navbarCollapseTarget" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapseTarget">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" role="button" href="#benefits">BENEFITS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" href="#about-us">ABOUT US</a>
                </li>
<!--                <li class="nav-item">
                    <a class="nav-link" href="#" id="faq_dd" role="button">FAQ</a>
                </li>-->
            </ul>
        </div>
    </nav>
</div>