{% load static %}

<!-- TAGLINE -->
<div class="card tagline">
    <div class="card-title">
        <h1> LOVE YOUR VEHICLE? </h1>
        <h5> Decarbonize it, <span class="bold-title"> now in Srinagar </span></h5>
    </div>
    <div class="card-body">
        <div class="tagline-benefits">
            <button class="btn">
               Know Benefits
            </button>
        </div>
    </div>
    <div class="cover-footer card-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 opening-hours">
                    <div> Opening Hours</div><hr class="cover-separator">
                    <div> Tue - Sun </div>
                    <div> 10AM - 7PM </div>
                </div>
                <div class="col-6 helpline">
                    <div> Helpline</div><hr class="cover-separator">
                    <div> +91 9469465558 </div>
                </div>
            </div>
        </div>
    </div>
</div>