{% load static %}

<!-- TAGLINE -->
<div class="tagline">
    <div class="tagline-title"><span>Feel The Power</span></div><br>
    <div class="tagline-body">
        <div> Decarbonize your vehicle, now in Srinagar! </div>
        <div class="right-banner">
            <ul>
                <li>
                    Increase Milelage.
                </li>
                <li>
                    Increase Pickup.
                </li>
                <li>
                    Increase Engine Life.
                </li>
            </ul>
        </div>
        <div class="left-banner">
            <ul>
                <li>
                    Decrease Engine Noise.
                </li>
                <li>
                    Decrease Smoke.
                </li>
            </ul>
        </div>
    </div>
</div>