{% extends 'base/base.html' %}
{% load static %}
{% block child_body %}

<!-- WORKING -->

<div class="container-fluid working">
    <div class="row working-small-screen">
        <div class="d-flex justify-content-center align-items-center-center">
            <img src="{% static 'media/images/others/working.jpeg' %}" alt="what we do">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 working-img">
            <div></div>
        </div>
        <div class="col-md working-body">
            <h2> How It Works?</h2>
            <hr class="separator">
            <ol>
                <li class="text">
                    Oxyhydrogen gas or HHO is produced by our machine, which is then
                    introduced into the air intake of the engine.
                </li><br>
                <li class="text">
                    Vehicle is set kept in idling for 30-40minutes.
                </li><br>
                <li class="text">
                    The gas is combusted with fuel and air mixture,
                    this reaction changes carbon deposits into
                    small particles and carbon returns to a gaseous state,
                    which is then expelled through the exhaust system.
                </li>
            </ol>
        </div>
    </div>
</div>

{% endblock %}