{% extends 'base/base.html' %}
{% load static %}
{% block child_body %}

<!-- WORKING -->
<div id="benefits" class="container benefits">
    <div class="row benefits-title">
        <div class="col-12">
            <h2> 6 Powerful Benefits. </h2>
            <hr class="separator">
        </div>
    </div>
<!--    <div class="row benefits-sub-title">-->
<!--        <div class="col-12">-->
<!--            <p>-->
<!--                Engine Detox Starts from @2500-->
<!--            </p><br>-->
<!--            <p>-->
<!--                Decarbonize TODAY and get additional BONUS services worth over @2500 absolutely FREE!-->
<!--            </p><br>-->
<!--        </div>-->
<!--    </div>-->
    <div id="benefits-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/mileage.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Increase mileage. </h4>
                        <p class="card-text"> Get upto 20% mileage. </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/pickup.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Increase pickup. </h4>
                        <p class="card-text"> Make your vehicle new again. </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/engine_life.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Increase engine life. </h4>
                        <p class="card-text"> Not just drive, fly!. </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/black_smoke.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Decrease black smoke. </h4>
                        <p class="card-text"> Enjoy your journey without pollution. </p>
                      </div>
                   </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/reduce_noise.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Decrease engine noise. </h4>
                        <p class="card-text"> Become a silent killer. </p>
                      </div>
                   </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/low_cost.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Cost effective. </h4>
                        <p class="card-text"> Get best deals with gifts. </p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                  <div class="card mb-2">
                    <img src="{% static '/media/images/logos/mileage.png' %}" class="benefit-logo card-img">
                    <div class="card-body">
                        <h4 class="card-title"> Increase mileage. </h4>
                        <p class="card-text"> Get upto 20% mileage. </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-6" style="float:left">
                   <div class="card mb-2">
                      <img src="{% static '/media/images/logos/pickup.png' %}" class="benefit-logo card-img">
                      <div class="card-body">
                        <h4 class="card-title"> Increase pickup. </h4>
                        <p class="card-text"> Make your vehicle new again. </p>
                      </div>
                   </div>
                </div>
            </div>
        </div>
        <a style="margin-left: -30px!important;" class="carousel-control-prev" href="#benefits-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a style="margin-right: -30px!important;" class="carousel-control-next" href="#benefits-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container-fluid working">
    <div class="row working-small-screen">
        <div class="d-flex justify-content-center align-items-center-center">
            <img src="{% static 'media/images/others/working.jpeg' %}" alt="what we do">
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 working-img">
            <div></div>
        </div>
        <div class="col-md working-body">
            <h2> How It Works?</h2>
            <hr class="separator">
            <ol>
                <li class="text">
                    Oxyhydrogen gas or HHO is produced by our machine, which is then
                    introduced into the air intake of the engine.
                </li><br>
                <li class="text">
                    Vehicle is set kept in idling for 30-40minutes.
                </li><br>
                <li class="text">
                    The gas is combusted with fuel and air mixture,
                    this reaction changes carbon deposits into
                    small particles and carbon returns to a gaseous state,
                    which is then expelled through the exhaust system.
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="container reviews">
    <div class="row reviews-title">
        <div class="col-12 text-center">
            <h2> Testimonials </h2>
            <hr class="separator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img" src="{% static 'media/images/others/rp2.png' %}">
                <p class="card-body">
                    Got rid of the black smoke by upto 75%.
                    Knowledgeable staff.
                    Highly recommended.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img" src="{% static 'media/images/others/rp3.png' %}">
                <p class="card-body">
                    I got my 2008 model and 100000+ km car de carbonised here and the results were outstanding.
                    I felt gradual improvement in pick up and mileage.
                    The engine sound has decreased to the extent that if I keep the engine start with no acceleration,
                    I can’t judge whether the engine is on or off.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img" src="{% static 'media/images/others/rp.png' %}">
                <p class="card-body">
                    I would like to share my  personal Experience.
                    I had completed 104000km on my Ford figo diesel and got it Decarbonised at the Detox lab
                    amazing results great pickup, smooth and increased mileage.
                    Superb expezrience with the Detox lab . Highly recommended..
                </p>
            </div>
        </div>
<!--        <div class="col-4">-->
<!--            <div class="card">-->
<!--                <img class="card-img" src="{% static 'media/images/others/r6.png' %}">-->
<!--                <p class="card-body">-->
<!--                    Excellent service. The car feels much better and surely-->
<!--                    the pickup and mileage has improved drastically.-->
<!--                    A must visit for all those who own a two wheeler or a four wheeler.-->
<!--                    The detox lab wish you all the success-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
    </div><br>
    <div class="row text-center">
        <div class="col-12">
            <button class="btn"><a class="reviews-btn" target="_blank" href="https://www.google.com/maps/place/The+Detox+Lab+%7C+Best+Engine+Decarbonization%2FCarbon+Cleaning+Service+in+Srinagar,+Kashmir/@34.0218188,74.8071903,17z/data=!3m1!4b1!4m5!3m4!1s0x38e18f6f835e084d:0x84fc7d145806d2cd!8m2!3d34.0218144!4d74.809379"> See More </a></button>
        </div>
    </div>
</div>

{% endblock %}