{% load static %}

<div class="container maintenance">
    <div class="row">
        <img class="branding" src="{% static 'media/images/logos/branding.png' %}">
    </div>
    <hr class="maintenance-sep">
    <div class="row description">
        <div class="col-12">
            <p>Quality decarbonizing in Srinagar.</p>
        </div>
    </div>
    <div class="row site-state">
        <div class="col-12">
            <p>Site Under Maintenance.</p>
        </div>
    </div>
    <div class="row social-icons">
        <div class="col-12 card">
            <a class="instagram" href="https://www.instagram.com/the.detoxlab">
                <img src="{% static 'media/images/logos/instagram.png' %}">
            </a>
            <a class="facebook" href="https://www.facebook.com/the.detoxxlab">
                <img src="{% static 'media/images/logos/facebook.png' %}">
            </a>
        </div>
    </div> <br>
    <div class="row on-large-screen">
        <div class="col-md-4">
            <div class="card booking">
                <h5 class="card-title"> For Booking </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> +91 9469465558 </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card address">
                <h5 class="card-title"> Address </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> Mehtab Enclave, Bagi Mehtab, National Highway,
                        near Petrol Pump Chanapora, Srinagar.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card opening_hours">
                <h5 class="card-title"> Opening Hours </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> Tue - Sun: 10 AM to 7 PM </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row on-small-screen">
        <div class="col-12">
            <div class="card booking">
                <h5 class="card-title"> For Booking </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> +91 9469465558 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row on-small-screen">
        <div class="col-12">
            <div class="card address">
                <h5 class="card-title"> Address </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> Mehtab Enclave, Bagi Mehtab, National Highway,
                        near Chanapora, Srinagar, Jammu and Kashmir.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row on-small-screen">
        <div class="col-12">
            <div class="card opening_hours">
                <h5 class="card-title"> Opening Hours </h5>
                <hr class="card-sep">
                <div class="card-body">
                    <p> Tue - Sun: 10 AM to 7 PM </p>
                </div>
            </div>
        </div>
    </div><br>
</div>